/* Font */

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #fff5ec9a;
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

.main {
    /* max-width: 1200px; */
    margin: 0 auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}